/* css styles */



/* Content */
h1 {
    color: #313d5d;
    margin-bottom: 30px;
}






/* BIODAS value */
/* Container bao bọc 2 box, đảm bảo chúng ngang hàng và có cùng chiều cao */
.container-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch; /* Đảm bảo các box có chiều cao bằng nhau */
    gap: 20px;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 12px;
}

/* Định dạng từng box nội dung */
.content-box {
    flex: auto; 
    max-width: 350px;
    background-color: #313d5d; /* Sửa màu nền của box */
    color: #ffffff; /* Sửa màu chữ mặc định của box */
    border: 1px solid #e9ecef; /* Thêm viền để làm nổi bật box */
    border-radius: 12px;
    padding: 30px;
    padding-left: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    text-align: justify
}

.content-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.icon {
    font-size: 5em;
    color: #FFA500;
    margin-bottom: 20px;
    text-align: center;
}

.box-title-value {
    padding: 15px 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}





/* BIODAS EXPERTISE */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.specialty-box {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Bỏ gạch chân link */
    color: inherit; /* Giữ màu chữ */
}

.specialty-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.specialty-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.box-title {
    background-color: #e9ecef;
    padding: 15px 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #313d5d;
}



























