/* css styles */





/* Content */
h1 {
    color: #313d5d;
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}





/* Link box xem chi tiết */
.link-box {
    display: inline-block;
    background-color: #313d5d;
    color: white;
    border-radius: 12px;
    padding: 1rem 1rem;
    margin: 1rem auto;
    text-align: center;
}
.link-box a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.link-box a:hover {
    text-decoration: underline;
}

































